@import '../../../styles/settings.scss';


.tableWrapper {
  color: $color-dark;
  margin: 20px 0;
  h3 {
    font-size: ($base-size * 3);
    font-weight: bold;
  }
  .tableLine {
    padding: 10px 0;
    span {
      font-weight: bold;
    }
  }
  .formInput {
    display: inline-block;
    width: 40px;
    margin: 0px 10px;
  }
  .formInputBill {
    display: inline-block;
    width: 100px;
    margin: 0px 10px;
  }
  .formSelect {
    display: inline-block;
    width: 300px;
    margin: 0px 10px;
  }
}
